<nav id="menu" class="navbar navbar-default" role="navigation" ng-controller="menuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Monkey</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/system/info">系统信息<span class="sr-only">(current)</span></a></li>
                <li><a href="#/devices/info">设备状况</a></li>
                <li><a href="#/log/info">日志信息</a></li>
                <!--<li class="dropdown disabled">-->
                <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                <!--aria-expanded="false">网络配置<span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">WiFi配置</a></li>-->
                <!--<li><a href="#">有线配置</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">云配置<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/config/server">服务配置</a></li>
                    </ul>
                </li>
                <li><a href="#/about/about">关于系统</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="disabled"><a href=""><span class="label label-warning">欢迎管理员登陆</span></a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>