<div class="container-fluid" ng-controller="configController">
    <div class="row">
        <span class="label label-default">当前</span><span class="label label-success">配置信息</span>
    </div>
    <div class="row">
        <span ng-if="serverInfoDataStatus=='true'" class="label label-success">已连接</span>
        <span ng-if="serverInfoDataStatus=='false'" class="label label-danger">未连接</span>
        <span class="label label-default">{{serverInfoDataIp}}</span>
        <span class="label label-default">{{serverInfoDataPort}}</span>
        <form role="form" method="post" id="serverPostData">
            <div class="form-group">
                <label for="properties">参数设置</label>
                <textarea class="form-control" id="properties" name="properties" style="height: 200px">{{serverInfoData}}</textarea>
            </div>
            <button type="submit" class="btn btn-default pull-right" ng-click="submitData();">设置</button>
        </form>
    </div>
</div>