<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="nettyServer" class="loan.ppcat.godsky.controller.netty.NettyGodSkyClient" init-method="startToServer">
        <!--<constructor-arg name="host" value="192.168.0.206"/>-->
        <!--<constructor-arg name="port" value="50000"/>-->
        <!-- checkDevices time is 200 mills-->
        <!--<property name="sendMillTimes" value="50"/>-->
        <property name="dataTrasferClient" ref="nettyServer"/>
    </bean>
    <bean id="realTimeBusinessDataFilter" class="loan.ppcat.godsky.controller.netty.RealTimeBusinessDataFilter">
        <constructor-arg name="_deviceService" ref="deviceService"/>
        <constructor-arg name="_systemInitService" ref="systemInitService"/>
    </bean>

</beans>